<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216352763421-0tf2ur3lsjab19pcfqqh8l2pt6cr1atd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216352763421-0tf2ur3lsjab19pcfqqh8l2pt6cr1atd</string>
	<key>API_KEY</key>
	<string>AIzaSyBhdjXx0aWDJpDBohlicnXtLurnGmAW4no</string>
	<key>GCM_SENDER_ID</key>
	<string>216352763421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tvisoftware.FireB</string>
	<key>PROJECT_ID</key>
	<string>todofire-821ae</string>
	<key>STORAGE_BUCKET</key>
	<string>todofire-821ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216352763421:ios:7f693a00aa450542</string>
	<key>DATABASE_URL</key>
	<string>https://todofire-821ae.firebaseio.com</string>
</dict>
</plist>